.layout {
  display: flex;
  flex-direction: column;
  color: var(--color-grey-dark-2);
  font-weight: 700;
  gap: 0.6rem;
}

.label {
  text-transform: capitalize;
}

.input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.range {
  display: inline-block;
  width: 70%;
  height: 3.6rem;
}

.display {
  background-color: var(--color-white);
  border-radius: 0.4rem;
  height: 3rem;
  width: max-content;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
